name: Build `arctl` Command Line Tool

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: Build arctl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21.x
          cache: true

      - name: Build arctl
        run: make build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: arctl
          path: ./arctl
